
.content .intro{
    height: 390px;
}
.content .intro .box980{
    box-sizing: border-box;
    padding: 45px 0px 0px 0px;
}
.intro .info{
    float: right;
    box-sizing: border-box;
    padding: 10px 30px 10px 30px;
    width:490px;
}
.intro .info h3,.doctor h3{
    font-size: 32px;
    color:#178af0;
    font-weight: normal;
}
.intro .info p{
    margin-top: 18px;
    font-size: 18px;
    line-height: 1.4em;
    color:#606060;
    text-align: justify;
}
.doctor{
    height: 420px;
    padding: 20px 0px;
    text-align: center;
} .doctor ul{
    margin-top: 50px;
}
.doctor ul li{
    float: left;
    width: 280px;
    margin-left: 40px;
    text-align: left;
}
.doctor li img{
    width:280px;
    margin-bottom: 10px;
}
.doctor li h4{
    font-size:24px;
    color:#178af0;
    font-weight: 800;
    margin-bottom: 10px;
}
.doctor li p{
    color: #606060;
}