        .content{
            margin: 0px;
            padding: 0px;
            height: 460px;
        }
        .content .con{
            font-size:50px;
            height:80px;
            background: #6dcca4;
            line-height: 80px;
            color:#fffdfd;
        }
        input{
            padding-left: 5px;
        }
        #left{
         float: left;
         margin-right: 60px;

        }
        #right{
           margin-left: 20px;
        }
        #right .til{
                display: block;
                font-size:25px ;
                margin-top: 80px;
                color:#4ac58f;

        }
        #right .nr{
            font-size: 16px;
            display: block;
            margin-top: 20px;
            color:#999;
            line-height: 1.5em;
        }
     #right form{

            display: block;
            margin-top: 25px;
        }

        #right #t1{
            height: 26px;
            margin-top: 5px;
            color:#999;
        }

        #right #t2{
            text-align: center;
            height: 100px;
            display: block;
            margin-left: 760px;
            margin-top: -102px;    
            color:#999;       
        }
        #right #tj{
            width: 160px;
            height: 25px;
            border:none;
            margin-top: 8px;
            background: #9055a7;
            color:#eae2ed;
        }