
.cont{
    height: 650px;
    background: url(../img/con_bg1.png) no-repeat;
    background-size: 100% 100%;
}
.appoint{
    height: 110px;
    background: #e13a44;
}
.appoint span{
    font-size: 30px;
    color: #fff;
    line-height: 110px;
}
.appoint h3{
    float: left;
}
.appoint .box980{
    position: relative;
}
.appoint .book{
    position: absolute;
    top: 55px;
    right: 0;
    display: inline-block;
    margin-top: -20px;
    padding: 10px 20px;
    background-color:#c03846 ;
    color:#fff;
}
.cont ul{
    position: relative;
    top: 370px;
    left: 15px;
}
.cont ul li{
    box-sizing: border-box;
    padding: 25px;
    color: #fff;
}
.cont ul li h3{
    margin-bottom: 15px;
    font-size: 24px;
}
.cont ul li p{
    margin-bottom: 20px;
    text-align: justify;
}
.left,.right,.middle{
    float: left;
    height: 220px;
    width: 300px;
    margin-left:14px;
}
.left{
    /* background: #90c5f5; */
    background: linear-gradient(to left bottom,transparent 50%,rgba(0,0,0,.4) 0) no-repeat 100% 0 / 2em 2em,linear-gradient(-135deg, transparent 1.42em,#90c5f5 0);
    opacity: 0.89;
}
.middle{
    /* background: #218ae6; */
    background: linear-gradient(to left bottom,transparent 50%,rgba(0,0,0,.4) 0) no-repeat 100% 0 / 2em 2em,linear-gradient(-135deg, transparent 1.42em,#218ae6 0);
    opacity: 0.89;
}
.right{
   background: linear-gradient(to left bottom,transparent 50%,rgba(0,0,0,.4) 0) no-repeat 100% 0 / 2em 2em,linear-gradient(-135deg, transparent 1.42em,#1e65a5 0);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  */
   opacity: 0.89;
}
.left a{
    background: #7cafdd;
}
.middle a{
    background: #1e7cd1;
}
.right a{
    background: #185c96;
}
.left a,.right a,.middle a{
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
}
.takecare{
    overflow: hidden;
    height: 524px;
    padding: 30px 0px 20px 0px;
}
.takecare ul{
    overflow: hidden;
    width: 1200px;
    margin: 40px auto;
    padding-top: 10px;
    padding: 30px 0px 40px 0px;
    /* border: 1px solid #000; */
}
.takecare ul li{
    float: left;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 25px;
    width: 320px;
    margin-left: 65px;
    text-align: center;
}
.takecare li .pic{
    border-radius: 100%;
    margin: 25px auto;
    width:80px;
    height:80px;
    background-color: #09f;
}
.takecare li h3{
    font-size: 22px;
    font-weight: normal;
    color:#178af0;
    margin-bottom: 15px;
}
.takecare li p{
    font-size: 16px;
    color: #8f8f8f;
    margin-bottom: 25px;
}
.takecare h2{
    margin-bottom: 20px;
    font-size: 36px;
    color: cornflowerblue;
    text-align: center;
}
.takecare a.more{
    color:#e13a44;
}
.galary{
    position: relative;
    background: url(../img/con_bg3.png) no-repeat;
    background-size: 100% 100%;
    height: 600px;
}
.galary h3{
    position: absolute;
    top: 120px;
    left: 270px;
    color: #fff;
    font-size: 72px;
}