
		#mask{
			display: flex;
			background:url(../img/con_bg1.png);
			background-size: 100% 100%;
			position: absolute;
			z-index:999;
			top: 0;
			bottom: 0;
			left:0;
			right:0;
		}
		#form1{	
			box-sizing: border-box;
			width: 400px;
			border-radius: 24px;
			/* padding: 50px 40px; */
			margin: auto;
			background-color: #fff;
		}
		#form1 h3{
			border-radius: 24px 24px 0px 0px;
			height: 100px;
			padding-left: 50px;
			margin-bottom: 1em;
			line-height: 100px;
			font-size: 28px;
			color: #fff;
			background-color: #85bdf1;
		}
		#form1 p.title{
			font-size: 24px;
			padding-left: px;
		}
		.table{
			margin-left: 40px;
			padding-bottom: 30px;
		}
		input{
			display: block;
			height: 30px;
			width:240px;
			margin-top: 3px;
			padding: .2em;
			border: none;
			border-bottom: 2px solid #CCC;

		}
		#yzm{
			width:100px;
		}
		span.error{
			width: 300px;
			color: #f00;
			font-size: 12px;
			margin-left: 5px;
		}
		#yz{
			position: absolute;
			margin-top: 5px;
		}
		.pic{
			width: 22px;
			height: 22px;
			margin-left:5px;
			position: relative;
			margin-top: 3px;
		}
		#submit{
			display: block;
			border-radius: 25px;
			margin: 2em 0px 0px 1.7em;
			padding: 0px 0px 0px 0px;
			font-size: 16px;
			color: #fff;
			background: #c03846;
		}
		
		.content{
			min-height:400px;
		}
		.content .doc{
			font-size: 20px;
			background: #09f;
			font-family:Comfortaa;
			height:60px;
			line-height:60px;
			color:#fff;
		}
		.content .box980{
			padding-top: 80px;
		}
		.box980 #container{
			position: relative;
			min-height:350px;
			box-sizing: border-box;
			box-shadow: 2px 2px 16px #ccc;
			border-radius: 15px;
			margin: 0px auto;
			margin-bottom: 40px;
			padding:25px;
			height: 280px;
			width: 900px;
		}
		#container:hover{
			animation: tobig 1s ease-in-out;
			animation-fill-mode:forwards; 
		}
		#container p{
			float: left;
			margin-top: 2.5em;
			margin-left: 2.4em;
			width: 500px;
			font-size: 24px;
			color:#444444;
		}
		.tit{
			position: relative;
			height: 70px;
		}
		.tit h3,.tit h4,.tit h5{
			color:#85bdf1;
		}
		.tit h3{
			font-size: 42px;
		}
		.tit h4{
			font-size: 20px;
			margin: 10px 0px 0px 4px ;
		}
		.timeno,.dgtime{
			color:#85bdf1;
			position: absolute;
		}
		.timeno{
			bottom: 1.4em;
			left: 2.2em;
		}
		.dgtime{
			font-size: 36px;
			top: .8em;
			right: 2em;
		}
		#container a.b_btn{
			position: absolute;
			right: 2em;
			bottom: 1.4em;
			background: transparent;
			background: #e13a44;
			border: none;
			border-radius: .5em;
			padding: .5em 1em;
			color: #fff;
			font-size: 22px;
		}
		