.content{
	background: #fff;
	min-height: 500px;
	padding: 5em 0em;
}
.content form{
	box-sizing:border-box;
	box-shadow:0px 0px 8px #ccc;
	border-radius: 1em;
	background: #fff url('../img/niddle.png') bottom right no-repeat;
	background-size: 40%;
	font-size: 24px;
	padding: 0em 0em 1.5em;
}
.content form h3{
	border-radius: 24px 24px 0px 0px;
	height: 100px;
	padding-left: 50px;
	margin-bottom: 1em;
	line-height:100px;
	color:#fff;
	background-color:#85bdf1;
}
.content table{
	width: 600px;
	margin-left:210px;
}
.content table tr{
	height: 30px;
}
.content table tr td:first-child{
	padding-right:30px;
}
.content tr{
	display: block;
	margin-bottom: 50px;
}
.content td:nth-child(1){
	width:300px;
}
.content td:nth-child(2){
	box-sizing: border-box;
}
.content td input{
	width:inherit;
	border: none;
	border-bottom: 2px solid #CCC;
	padding-left: 1em;
	/* border-radius: 5px; */
	height:30px;
}
.content .border{
	border-bottom:2px solid rgb(77, 76, 76);
}
.content select{
	width: 315px;
	border: 1px solid #CCC;
	padding-left: 1em;
	border-radius: 5px;
	height:30px;
}
.content td input[type=radio]{
	padding-top: 10px;
	width:20px;
	height:20px;
	font-size: 12px;
}
.content input[type=submit]{
	display: block;
	margin: 0 auto;
	border:0;
	padding:0.6em 5em;
	font-size:24px;
	border-radius: 15px;
	color: #fff;
	background: #c03846;
}
p.title{
	font-size: 18px;
	margin-bottom: .4em;
}
span.tip{
	display: inline-block;
	color: red;
	margin-top: 30px;
	line-height: 38px;
	font-size: 14px;
}
.content span.green{
	color: rgb(49, 173, 0);
}
