@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,input,button,form,a,p,textarea,table,th,td,img,hr{
	margin: 0;
	padding: 0;
}
/*input,select,textarea{
	outline: none;
	border:0;
}*/
@font-face
{
	font-family: Comfortaa;
	src: url(font/Comfortaa-Regular.ttf);
}

ul, ol, li{list-style: none;}
a{text-decoration:none;color:#606060;}
a:link { text-decoration: none;}	/* δ���ʵ����� */
a:visited {text-decoration: none;}	/* �ѷ��ʵ����� */
a:hover {text-decoration: none;}	/* ����ƶ��������� */
a:active {text-decoration: none;}	/* ѡ�������� */
em,i{font-style:normal;}
label{font-weight: normal;}
img{border: none;}
body{
	font-family: Comfortaa;
}
.fl{
	float: left;
}
.fr{
	float:right;
}
.box980{
	width:980px;
	margin: 0 auto;
}