@keyframes light {
    from {
    box-shadow:0px 0px 4px #606060;
    }
    to {
    box-shadow:0px 0px 16px #606060;
    }
}
@keyframes tosmall {
    from {
        transform: scale(1.0);
        opacity: 1;
    }
    to {
        transform: scale(0.8);
        opacity: 0.6;
    }
}
@keyframes tobig {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }
}
a.totop,a.doclogin{
    position: fixed;
    z-index: 9999;
    right:2em;
    bottom: 4em;
    padding: .6em .8em;
    font-size: 24px;
    background: #fff;
    box-shadow: 0px 0px 10px #606060;
}
a.doclogin{
    left:2em;
    top: 4em;
    right:auto;
    bottom:auto;
    
    font-size: 18px;
}
.header{
    background-color: #f2f2f2;
    color: #606060;
    height: 50px;
  
}
.header span{
    display: inline-block;
    font-size: 15px;
    line-height: 50px;
}
.nav{
    height:100px;
}
.nav .logo{
    height: 100px;
    margin-top: 5px;
    margin-left: 60px;
}
.nav ul{
    float: right;
    margin-right: 100px;
}
.nav ul li{
    float: left;
    height: 100px;
    margin-left: 30px;
    font-size: 18px;
    font-weight:450;
    line-height: 100px;
}
.nav li a.hover,.nav li a:hover{
    color:rgb(225, 58, 68);
}

.title_us{
    background-color: #85bdf1;
    height:135px;
}
.title_us h3{
    font-size:36px;
    line-height: 135px;
    color: #fff;
}

.footer{
    background: #86c1f5;
    padding: 10px 0px;
    color: #fff;
    font-size: 14px;
    line-height: 2em;
}
.light{
    animation:light 1s ease-in-out infinite alternate;
    
}
.light_ani{
    animation: tobig 1s ease-in-out ,light 1s ease-in-out infinite alternate;
    -webkit-animation-fill-mode:forwards; 
}
.tosmall{
    animation: tosmall 1s ease-in-out;
    -webkit-animation-fill-mode:forwards; 
}