.aboutPage {
  .intro1 {
    background: url('~@pub/img/d2.jpg') no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    .wrapper {
      padding: 100px 0px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      .iconfont {
        font-size: 80px;
      }
      h1 {
        color: #fff;
        margin-bottom: 12px;
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
}
