.dbc_hh(@height) {
  height: @height;
  line-height: @height;
  text-align: center;
}
.dbc_flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mg_number(@width) {
  margin: 0 auto;
  width: @width;
}
